<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

    <!-- cardMenu -->
    <style><%- include('cardMenu.css') %></style>

    <% if (locals.description) { %>
      <meta name="description" content="<%- description %>">
    <% } %>
  </head>
  <body>

    <%- include('navbar') %>

    <%- include('title') %>

    <!-- Cards -->
    <div class="card-wrapper">
      <section class="cards">
        <% cards.forEach(card => { %>
          <div class="card clickable" redirect="<%= card.subDirectory %>">
            <img src="<%= `${card.serverDirectory}/${card.subDirectory}.jpg` %>" alt="<%= card.subDirectory %>">
            <div class="card-body">
              <h4><%- card.title %></h4>
              <p><%- card.p %></p>
            </div>
          </div>
        <% }) %>
      </section>
    </div>

  </body>
  <%- include('footer') %>

  <script src="/libraries/cards.js"></script>
</html>
