<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

    <link rel="stylesheet" href="/template/cardMenu.css">
    <meta name="Description" content="A website made for player by Fritz_179">
  </head>
  <body>

    <%- include('navbar') %>

    <%- include('title') %>

    <!-- Cards -->
    <div class="card-wrapper">
      <section class="cards">
        <% cards.forEach(card => { %>
          <div class="card clickable" redirect="<%= card.subDirectory %>">
            <img src="<%= `${card.serverDirectory}/${card.subDirectory}.png` %>" alt="<%= card.subDirectory %>">
            <div class="card-body">
              <h4><%- card.title %></h4>
              <p><%- card.p %></p>
            </div>
          </div>
        <% }) %>
      </section>
    </div>

  </body>
  <%- include('footer') %>

  <script src="/libraries/cards.js"></script>
</html>
