<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Balanzin</title>

  <link rel="stylesheet" href="/libraries/cards.css">
</head>
<body>

  <div class="wrapper">
    <!-- Navigation -->
    <nav class="main-nav">
      <ul id="main-ul">
        <ul id="left">
          <li><a href="/">Fritz_179</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
        </ul>
        <form id="center">
          <input type="text" placeholder="Search">
          <a href="/search" class="btn">Search</a>
        </form>
        <ul id="right">
          <li><a href="#">Version 3.1.4</a></li>
          <li><a href="/users/report">Report Bug</a></li>
          <li><a href="/users/login">Login</a></li>
        </ul>
      </ul>
    </nav>

    <!-- Title -->
    <section class="title">
      <h1 id="welcome">Welcome to Balanzin</h1>
      <p id="description">Balnaza!</p>
    </section>

    <!-- Cards -->
    <div class="card-wrapper">
      <section class="cards">
        <% json.cards.forEach(card => { %>
          <div class="card clickable" redirect="<%= card.subDirectory %>">
            <img src="<%= `${card.serverDirectory}/${card.subDirectory}.png` %>" alt="<%= card.subDirectory %>">
            <div class="card-body">
              <h4><%= card.title %></h4>
              <p><%= card.p %></p>
            </div>
          </div>
        <% }) %>
      </section>
    </div>

    <!-- Footer -->

  </div>
  <!-- Wrapper Ends -->

</body>
<footer>
  <div class="copy">
    <hr>
    <p>Copyright &copy; 2019 &reg by Fritz_179</p>
  </div>
</footer>
<script src="/libraries/cards.js"> </script>
</html>
