<%- include('../header') %>

<%- include('../navbar', {user: user, nav: [{txt: 'Articles', href: '/articles'}]}) %>

<main role="main">
  <section class="jumbotron top-margin">
    <div class="container">
      <%- messages('message', locals) %>
      <h1><%= article.title %></h1>
      <h5>Written by: <%= author %></h5>
      <br>
      <p><%= article.body %></p>
      <br>
      <hr>
      <a class='btn btn-success' href='/articles'>See other articles</a>
      <% if (locals.user) { %>
        <% if (locals.user.id == article.author) { %>
          <br>
          <br>
          <a class='btn btn-primary' href=<%= '/articles/edit/' + article._id %>>Edit</a>
          <a class='btn btn-danger delete-article' href=<%= '' + article._id %> data-id=<%= article._id %>>Delete</a>
        <% } %>
      <% } %>
      <%- include('../copyright') %>
    </div>
  </section>
</main>

<%- include('../footer', {toInclude: [{path: '/articles', scripts: ['articles']}]}) %>
