<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

  </head>
  <body>

    <%- include('navbar') %>

    <!-- Articles -->
    <div class="article-wrapper">
      <section class="article">
        <h1>Edit your article!</h1>
        <form method="post" action=<%= '/articles/edit/' + article._id %>>
          <div><label>Title:</label><input class="field" name="title" type="text" value='<%= article.title %>' autofocus/></div>
          <div><label>Body:</label><textarea class="field" name="body"><%= article.body %></textarea></div>
          <input class="btn" type="submit" value="Save Changes">
        </form>
        <%- include('footer') %>
      </section>
    </div>

  </body>

  <link rel="stylesheet" href="./style.css">
</html>
