<%- include('header') %>

<%- include('navbar', {user: user, nav: [{txt: 'WWE', href: '/wwe'}]}) %>

<%- messages('message', locals) %>

<div class="album py-5 bg-black">
  <div class="container text-center">
    <img id='img' class="logo hidden" alt="Logo alt">
    <div class="card-body">
      <h4 class="card-text white">who's logo is this?</h4>
      <br>
      <br>
      <div class="d-flex justify-content-between centered">
        <div class="btn-group centered hidden" id='ul'>
          <button type="button" class="btn btn-sm btn-outline-secondary white">La mama da umberto!</button>
          <button type="button" class="btn btn-sm btn-outline-secondary white">La mama da umberto!</button>
          <button type="button" class="btn btn-sm btn-outline-secondary white">La mama da umberto!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 bg-light">
  <div class="container">
    <%- include('copyright') %>
  </div>
</div>

<link rel="stylesheet" href="./style.css">
<script type='module' src="./guess.js"></script>

<%- include('footer', {socket: true}) %>
