<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

  </head>
  <body>

    <%- include('navbar') %>

    <!-- Articles -->
    <div class="article-wrapper">
      <section class="article">
        <h1><%= article.title %></h1>
        <h2>Written by: <%= author %></h2>
        <p class="body"><%= article.body %></p>
        <a class="btn others" href='/articles'>See other articles</a>
        <% if (locals.user && locals.user._id == article.author) { %>
          <div>
            <a class="btn edit" href=<%= '/articles/edit/' + article._id %>>Edit</a>
            <a class="btn delete" data_id=<%= article._id %>>Delete</a>
          </div>
        <% } %>
        <%- include('footer') %>
      </section>
    </div>

  </body>

  <link rel="stylesheet" href="./style.css">
  <script src="./articles.js"> </script>
</html>
