<%- include('header') %>

<%- include('navbar', {user: user, search: true, nav: [{txt: 'Articles', href: '/articles'}, {txt: 'Add article', href: '/articles/add'}]}) %>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <%- messages('message', locals) %>
      <br>
      <h1 class="jumbotron-heading">Articles! By Fritz_179!</h1>
      <p class="lead text-muted">In this projet you can read some amazing articles. <br> and you can even write one of your own by
        <a href='/articles/add'>clicking here</a> or in the navbar
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <ul class='list-group'>
        <% articles.forEach(article => { %>
          <li class='list-group-item'>
            <a href=<%= '/articles/article/' + article._id %>><%= article.title %></a>
          </li>
        <% }) %>
      </ul>
      <br>
      <a class='btn btn-primary' href='/articles/add'>Click here to write an Article!!</a>
      <br>
      <%- include('copyright') %>
    </div>
  </div>
</main>

<%- include('footer') %>
