<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Balanzin</title>

    <link rel="stylesheet" href="./style.css">
  </head>
  <body>

    <%- include('navbar') %>

    <%- include('title', {
      title: 'Articles! By Fritz_179!',
      p: `In this projet you can read some amazing articles. <br> You can even write one of your own by <a class="link" href='/articles/add'>clicking here</a> or in the navbar!`
    }) %>

    <!-- Articles -->
    <div class="articles-wrapper">
      <section class="articles">
        <ul>
          <% articles.forEach(article => { %>
            <li><a class="link" href=<%= '/articles/article/' + article._id %>><%= article.title %></a></li>
          <% }) %>
        </ul>
        <a class='btn add-article' href='/articles/add'>Click here to write an Article!!</a>
      </section>
    </div>

  </body>
  <%- include('footer') %>

  <script src="/libraries/cards.js"> </script>
</html>
